{% extends "base.html" %}

{% block content %}
<h3>Add a new vet</h3>

<form action="/vets" method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name">
    <label for="qualifications">Qualifications:</label>
    <input type="text" name="qualifications">
    <label for="contact_number">Contact no:</label>
    <input type="text" name="contact_number">
    <input type="submit" value="Submit">
</form>

{% endblock %}