<!-- pet attributes: name, date_of_birth, breed, owner_contact_number, treatment_notes, vet, id -->
{% extends "base.html" %}

{% block content %}
    {% for pet in pets %}
    <section class="info {% if pet.vet.is_active == False %} inactive_vet {% endif %}" >
        <div>
            <p>Name: {{pet.name}}</p>
            <p>Breed: {{pet.breed}}</p>
            <p>D.O.B: {{pet.date_of_birth}}</p>
            <p>Attending vet: {{pet.vet.first_name}} {{pet.vet.last_name}} {% if pet.vet.is_active == False %} WARNING: This vet is currently unregistered, please reassign to an active vet {% endif %}</p>
            <p>owner: {{pet.owner.first_name}} {{pet.owner.last_name}}</p>
        </div>
        <ul class="links">
            <li><a href="/owners/{{pet.owner.id}}">Owner Info</a></li>
            <li><a href="/pets/{{pet.id}}">More Info</a></li>
            <li><a href="/pets/{{pet.id}}/edit">Edit this Info</a></li>
            <li>
                <form action="/pets/{{pet.id}}/delete" method="POST">
                    <a onclick="this.parentNode.submit();">Delete</a></p>
                </form>
            </li>
        </ul>
    </section>
    <hr>
    {% endfor %}
{% endblock %}