{% extends "base.html" %}

{% block content%}
<h3>Add a new pet</h3>

<form action="/pets" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="breed">Breed:</label>
    <input type="text" name="breed">
    <label for="date_of_birth">DOB:</label>
    <input type="date" name="date_of_birth">
    <label for="owner_contact_number">Owner contact no:</label>
    <input type="text" name="owner_contact_number">
    <label for="treatment_notes">Treatment notes:</label>
    <textarea name="treatment_notes" cols="30" rows="3"></textarea>
    <label for="vet">Assigned vet:</label>
    <select name="vet_id">
        {% for vet in vets %}
        <option value="{{vet.id}}">{{vet.last_name}}, {{vet.first_name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="submit">
</form>

{% endblock %}