{% extends "base.html" %}

{% block content %}
    {% for owner in owners %}
    <section class="info">
        <div>
            <p>Name: {{owner.first_name}} {{owner.last_name}}</p>
            <p>Address: {{owner.address}}</p>
            <p>Contact no: {{owner.contact_number}}</p>
            <p>Email: {{owner.email}}</p>
        </div>
        <div class="links">
            <a href="/owners/{{owner.id}}">More Info</a>
            <a href="/owners/{{owner.id}}/edit">Edit this Info</a>
        </div>
    </section>
    {% endfor %}
{% endblock %}