{% extends "base.html" %}

{% block content %}
<h3>Add a new owner</h3>

<form action="/owners" method="POST" class="form">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">
    <label for="Last_name">Last Name:</label>
    <input type="text" name="last_name">
    <label for="contact_number">Contact no:</label>
    <input type="text" name="contact_number">
    <label for="address">Address:</label>
    <textarea name="address" cols="30" rows="3"></textarea>
    <label for="email">Email:</label>
    <input type="text" name="email">
    <button type="submit">Submit</button>
</form>

{% endblock %}