{% extends "base.html" %}
{% block content %}
    <h3>Owner Info</h3>
    <section class="info">    
        <div>
            <p>Name: {{owner.first_name}} {{owner.last_name}}</p>
            <p>Addess: {{owner.address}}</p>
            <p>Phone: {{owner.contact_number}}</p>
            <p>Email: {{owner.email}}</p>
            <br>
            <h4>{{owner.first_name}}'s Pets</h4>
            <ul>
                {% for pet in owners_pets%}
                <li>{{pet.name}}, {{pet.breed}} <a href="/pets/{{pet.id}}">More Info</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="links">
            <a href="/owners/{{owner.id}}/edit">Edit this Info</a>
            <form action="/owners/{{owner.id}}/delete" method="POST">
                <a onclick="this.parentNode.submit();">Delete</a></p>
            </form>
        </div>        
    </section>
    <p>Warning: Deleting this record will delete all the pets associated with this owner</p>
{% endblock %}