{% extends "base.html" %}
{% block content %}
    <section>
        <h3>Owner Info</h3>
        <p>Name: {{owner.first_name}} {{owner.last_name}}</p>
        <p>Addess: {{owner.address}}</p>
        <p>Phone: {{owner.contact_number}}</p>
        <p>Email: {{owner.email}}</p>
        <br>
        <form action="/owners/{{owner.id}}/delete" method="POST">
            <a onclick="this.parentNode.submit();">Delete</a></p>
        </form>
        <p>Warning: Deleting this record will delete all the pets associated with this owner</p>
    </section>
{% endblock %}