<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <hgroup>
            <h1>Vet Management</h1>
            <h2>Welcome to your practice</h2>
        </hgroup>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/vets">Our Vets</a></li>
            <li><a href="/pets">Animals</a></li>
            <li><a href="/owners">Owners</a></li>
            <li><a href="/pets/new">Add New Animal</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <h3>© Aly Smith, CodeClan, 2021</h3>
    </footer>
</body>
</html>